<section class="hero">
  <!-- Navbar -->
  <header class="navbar">
    <div class="logo">
      <a href="#" style="display: flex; align-items: center; text-decoration: none; color: inherit;">
        <img src="../assets/images/logo.svg" style="width: 32px; margin-right: 4px;" alt="Logo" />
        <span>SmartDry</span>
      </a>
    </div>
    <nav>
      <a href="../pages/dashboard.html">Bảng điều khiển</a>
      <a href="../pages/setting.html">Cài đặt</a>
    </nav>
    <div class="auth">
      <div class="profile-container" onclick="toggleDropdown()">
        <a href="#">
          <img src="../assets/images/ava.svg" style="width: 30px; border-radius: 50%;" alt="Profile" />
          <span class="arrow">&#9662;</span>
        </a>
        <div id="dropdown" class="profile-dropdown">
          <a href="../pages/profile.html">
            <i class="fas fa-user"></i> Hồ sơ
          </a>
          <a href="#" id="logout-btn">
            <i class="fas fa-sign-out-alt"></i> Đăng xuất
          </a>
        </div>
      </div>
    </div>
  </header>
</section>