PORT=8080
MONGODB_URI=YOUR_URL
JWT_SECRET=YOUR_TOKEN
JWT_EXPIRATION=YOUR_JWT_EXPIRATION
MAIL_USER=YOUR_EMAIL
MAIL_PASSWORD=YOUR_APP_PASSWORD_EMAIL
MQTT_URL=YOUR_MQTT_URL
MQTT_USERNAME=YOUR_MQTT_USERNAME
MQTT_PASSWORD=YOUR_MQTT_PASSWORD
GEMINI_API_KEY=YOUR_GOOGLE_API_KEY